@{
    ViewBag.Title = "Кадастровик";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h2 align="center">РЕГИСТРАЦИЯ ОБЪЕКТОВ НЕДВИЖИМОСТИ</h2><br />
    </div>
</body>
</html>
